.task {
    font-size: 20px;
    border:1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    margin:10px;
    box-shadow: 0px 3px 4px lightgray;
    width:500px;
    text-align: left;
}

.task:hover{
    cursor: pointer;
    text-decoration: line-through;
}