body{
    margin:0;
    padding: 0;
}
.app {
    height: 100%;
    /* background: linear-gradient(180deg, rgba(255,255,255,1) 35%, rgba(133,172,236,1) 74%) ; */
    background: radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(133,172,236,1) 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-list {
    display:flex;
    flex-direction: column;
}

button {
    background: linear-gradient(0deg, rgba(36,55,44,1) 35%, rgba(93,209,238,1) 100%);
    color: #fff;
    width:100px;
    height: 30px;
    border-radius: 3px;
    margin-left: 3px;
    cursor: pointer;

}

input {
    margin-top: 20px;
    font-size: 18px;
    width:300px;
}